<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="FITS">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_ERR">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} - %5p - %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="edu.harvard.hul.ois" level="error">
        <AppenderRef ref="CONSOLE"/>
    </Logger>
        <Logger name="edu.harvard.hul.ois.jhove" level="error">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="uk.gov.nationalarchives.droid" level="error">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.apache.tika" level="error">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.apache.poi" level="error">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="net.sf" level="error">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.apache.pdfbox" level="error">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="CONSOLE" level="error"/>
        </Root>
    </Loggers>
</Configuration>